{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <h3 class="mb-3">登入</h3>
    <form method="post">
      <div class="mb-3">
        <label class="form-label">帳號</label>
        <input class="form-control" name="username" required>
      </div>
      <div class="mb-3">
        <label class="form-label">密碼</label>
        <input type="password" class="form-control" name="password" required>
      </div>
      <button class="btn btn-primary w-100">登入</button>
    </form>
    <div class="text-muted mt-3">還沒有帳號？<a href="{{ url_for('register') }}">前往註冊</a></div>
  </div>
</div>
{% endblock %}
